.sc-np-bar-icon {
    display: inline-block;
    vertical-align: middle;

    a {
        display: inline-block;
        height: 22px;
        width: 22px;
        padding: 6px;
        color: #888;
        border-radius: 4px;

        font-size: 18px;

        &:hover {
            color: #222;
            cursor: pointer;
        }
    }

    &.active {
        a {
            background: #fafafa;
            color: #000;
        }
    }
}
