.sc-np-bar-icon {
    display: inline-block;
    transition: opacity ease-in-out 0.1s;

    a {
        display: inline-block;
        height: 22px;
        width: 22px;
        color: #888;
        border-radius: 4px;

        font-size: 18px;

        &.fa {
            display: block;
            text-align: center;
        }

        &.img {
            vertical-align: middle;
            text-align: center;
            background-repeat: no-repeat;
            opacity: 0.8;
        }

        &:hover {
            color: #222;
            cursor: pointer;
        }
    }

    &.active {
        a {
            background-color: #fafafa;
            color: #000;

            &.img {
                background-color: inherit;
                opacity: 1;
            }
        }
    }

    &.disabled {
        opacity: 0.7;
    }
}
