@import '../../../styles/mixins/shadow';

.sc-content-menu {
    position: absolute;
    top: -15px;
    left: 40px;

    .se-toggle {
        cursor: pointer;
        float: left;
        width: 20px;
        text-align: center;
        
        button {
            background-color: #fff;
            padding:0;

            .fa {
                color: #565656;
            }
        }

        &>button.se-tool {
            display: table-cell;
        }
    }

    .se-available-tools {
        float: left;
        background: #fff;
        @include box-shadow;

        border-radius: 0.25rem;
        padding: 2px;
        border-top: 1px solid rgb(221, 221, 221);
        border-left: 1px solid rgb(221, 221, 221);
        //width: 300px;
        min-width:200px;
        margin-left: 15px;

        .sc-np-switch-text-type {
            button {
                background-color: #fff;
                color: #222;
                display: flex;
                border-radius: 0;

                &.sm-active {
                    .se-label {
                        font-weight:700;
                    }
                }
                &:hover {
                    background-color: darken(#fff, 5%);
                }
                .se-label {
                    float: none;
                    flex: 3;
                    font-weight:normal;
                }

                .se-hint {
                    flex: 2;
                    color: #bbb;
                    text-align: right;
                }
            }
        }
    }

    .sc-button.sm-style-outline {
        border-radius: 4px;
        border: none;
        font-size: 16px;
    }
}
