@import '../../../styles/mixins/shadow';
@import '../../../styles/mixins/popup-tools';

.context-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.75);
        padding: 5px 0 5px 10px;
        cursor: pointer;
        &:hover {
            background-color: darken(#fff, 5%);
        }
        &.active {
            font-weight: 700;
        }
    }
}
.sm-target-content-top-menu {
    padding: 5px 10px;
}

.sc-content-menu {
    position: absolute;
    top: -15px;
    left: 40px;
    z-index: 10;

    .sm-target-content-top-menu {
        padding: 0 10px;
        background: #f9f9f9;
        border-bottom: 1px solid #dddddd;

        &:after {
            content: "";
            display: block;
            clear: both;
        }

        button {
            &.se-tool {
                padding: 8px;
                float: left;
            }
        }
    }

    .se-toggle {
        cursor: pointer;
        float: left;
        width: 20px;
        text-align: center;
        
        button {
            background-color: #fff;
            padding:0;

            .fa {
                color: #565656;
            }
        }

        &>button.se-tool {
            display: table-cell;
        }
    }

    .se-available-tools {
        @include popup-container();
        float: left;
        min-width:200px;
        margin-left: 15px;
    }

    .sc-button.sm-style-outline {
        border-radius: 4px;
        border: none;
        font-size: 16px;
    }
}
