div.npw-start-container {
    width: 100%;
    height: 100%;
    text-align: center;

    & > div.npw-start-splash {
        margin: 70px 40% 0 70px;
        animation: paper-plain-flasher 1.5s linear infinite;
        opacity: 0.9;

        ul {
            list-style: none;
            padding:0;
            margin: 40px 0;

            li {
                margin: 25px 0;
                height: 20px;
                background-color: #f5f5f5;

                &.long {
                    width: 95%;
                }

                &.medium {
                    width: 70%;
                }

                &.short {
                    width: 45%;
                }
            }
        }
    }

    & > div.npw-start-top {
        border-bottom: 1px solid #eee;
        height: 52px;
        padding-left: 99px;
        text-align: left;

        & > div {
            width: 100%;
            height: 100%;

            animation: paper-plane-scoping 0.5s;
            animation-timing-function: ease-out;

            img {
                margin-top: 12px;
                width: 30px;
                height: 30px;

                animation-timing-function: ease-in;
                animation: paper-plane-soaring 0.5s;
            }
        }
    }

}

@keyframes paper-plain-flasher {
    50% {
        opacity: 0.2;
    }
}

@keyframes paper-plane-scoping {
    0% {
        transform: translateX(-175px) translateY(-15px);
    }

    100% {
      transform: translateX(0px) translateY(0px);
    }
}


@keyframes paper-plane-soaring {
    0% {
        transform: rotate(35deg);
        opacity: 0.2;
    }

    60% {
        transform: rotate(30deg);
    }

    80% {
        transform: rotate(22deg);
        opacity: 0.5;
    }

    100% {
        transform: rotate(0deg);
        opacity: 0.8;
    }
}
