/* Substance Component styles */
//@import '../substance/substance.css';

/* You may want to use your own reset and pagestyle */
//@import '../substance/substance-reset.css';
//@import '../substance/substance-pagestyle.css';
/* Using url here, so font-awesome does not get bundled. */
//@import url('../font-awesome/css/font-awesome.min.css');
/* writer-specific css */
//@import './writer/packages/npwriter/_content-menu.css';
//@import './writer/packages/headline/css/index.css';
//@import '~writer/packages/subheadline/css/index.css';
//@import './writer/packages/paragraph/css/index.css';
//@import './writer/packages/blockquote/css/index.css';

$enable-flex: true;
@import "../../node_modules/bootstrap/scss/custom";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/forms";

@import '~/../substance/substance-reset.css';
@import '~/../font-awesome/css/font-awesome.min.css';
@import '~/../substance/substance-pagestyle.css';

@import './box-with-arrow';

html {
  font-size: 90%;
}

// Bootstrap override {
.btn-primary {
  background-color: #0098C7;
  border: none;
}

body {
  font-family: Lato, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  overflow: hidden;
}

h2 {
  font-size: 18px;
  line-height: 22px;
  color: #444;
  font-weight: 400;
}

p {
  font-size: 90%;
}

.imc-flash {
  animation: imc-flasher 0.6s linear 1;
}

@keyframes imc-flasher {
  50% {
    opacity: 0.0;
  }
}

.sc-app {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  .sc-np-writer {
    & > .sc-split-pane {
      top: 53px;
    }
  }

  .se-context-section {
    border-left: 1px solid #ddd;

    .se-tabs {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: auto;
      border-bottom: none;

      .se-tab {
        flex-grow: 1;
        float: none;
        padding: 0 5px;
        text-align: center;
        border-bottom: 1px solid #ddd;

        &.sm-active {
          border-bottom: 1px solid #444;
        }
      }
    }
  }

  .se-main-section {
    width: 60%;

    .se-content {
      width: 100%;
      height: 90%;
      padding: 0;

      .sc-layout {
        height: 100%;
        padding: 40px 70px;

        &.sm-width-large {
          max-width: 800px;
        }

        .sc-body {
          height: 100%;

          & > div {
            height: 100%;
          }
        }
      }
    }
  }
}

.sc-preamble {
  font-weight: 700;
}

.sc-np-writer .se-layout {
  margin: 100px;
}
